page-contactos {
padding: 0;
margin: 0;

}

//Estilos css de la página de contactos
.sectionC{
    background-color:rgb(253,203,20);
}
.iconH{
    color: blue;
}
.bntH{

   // background-color: white;
   background-color: transparent !important;
}
.desarrollador1, .textD1{
    display: inline-block;
}
.desarrollador2, .textD2{
    display: inline-block;
}
.desarrollador1, .desarrollador2{
    width: 20%;
}
.textD1, .textD2{
    width: 70%;
  }
.utplC{

  text-align: center;
    margin-top:20px;
    background-color: rgb(14, 2, 65);
    
}



 